<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::div})}">

<head>
    <title>Keystow</title>
</head>

<body>
    <div>
        <header id="header-intro" class="py-4 bg-light text-center">
            <div class="container">
                <img src="assets\icons\keystow-logo-icon-final.svg" alt="Ícone da logo Keystow" class="mt-5">
                <div class="row justify-content-center">
                    <span class="h4 d-block">Criamos e armazenamos senhas difíceis de forma fácil e segura.</span>
                    <p class="text-white col-4 center fs-5">A Keystow memoriza todas as suas senhas de um grande número de aplicativos, para que você não importar-se com isso.</p>
                </div>
                <a href="#login" class="btn btn btn-lg bg-primary btn-lg mt-2 text-white col-2 mx-auto">Entrar agora</a>
                <div class="mt-5">
                    <img src="assets\icons\icon-mouse.svg" alt="icon-mouse">
                    <img src="assets\icons\icon-mao-pra-baixo.svg" alt="icon-mao-pra-baixo">
                    <p class="text-white">Veja mais informações</p>
                </div>
            </div>
        </header>

        <section class="container">
            <div class="row p-5 d-flex align-items-center">
                <div class="col-6">
                    <h1 class="display-6 mb-4">SUA SEGURANÇA ONLINE ESTÁ EM PERIGO</h1>
                    <p>O roubo de senhas é um problema sério. Os sites e aplicativos que você usa estão sendo atacados todos os dias. Violações de segurança ocorrem e suas senhas são roubadas.</p>
                    <p>Quando você reutiliza as mesmas senhas em todos os lugares, os hackers podem acessar facilmente seu email, banco e outras contas importantes.</p>
                </div>
                <div class="col-6">
                    <img src="assets\img\img-s1.svg" alt="Imagem de um computador com uma tela de login e um escudo azul" class="img-fluid">
                </div>
            </div>
        </section>

        <section class="container-fluid section2">
            <div class="container">
                <div class="row p-5 d-flex align-items-center">
                    <div class="col-7">
                        <img src="assets\img\img-s2.svg" alt="Imagem de um computador com uma tela de login e um escudo azul" class="img-fluid">
                    </div>

                    <div class="col-5 ">
                        <h1 class="display-6 mb-4">COMO VOCÊ PODE SE MANTER SEGURO?</h1>
                        <p>Os especialistas em segurança recomendam que você use uma senha diferente e gerada aleatoriamente para cada conta online criada.</p>
                        <p>Mas como você deve se lembrar e acompanhar tantas senhas? A Keystow ajuda você a criar e gerenciar senhas seguras para que você possa voltar a aproveitar sua vida online.</p>
                        <a href="#login" class="btn btn bg-primary btn-lg mt-3 text-white">Criar uma conta gratuita</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <div class="row p-5 d-flex align-items-center">
                <div class="col-7">
                    <h1 class="display-6 mb-4">REDE</h1>
                    <ul class="list-unstyled">
                        <li>📴 Preso sem nenhum dos seus dispositivos?</li>
                        <li>💻 Usando o computador de um amigo?</li>
                        <li>🌎 Você pode acessar seu cofre da Keystow a partir
                            de qualquer dispositivo habilitado para a internet,
                            usando nosso cofre da Web.</li>
                    </ul>
                    <a href="#login" class="btn btn bg-primary btn-lg mt-3 text-white">Acessar meu cofre na web</a>
                </div>
                <div class="col-4">
                    <img src="assets\img\img-s3.svg" alt="Imagem de um computador com uma tela de login e um escudo azul" class="img-fluid">
                </div>
            </div>
        </section>

        <section class="container-fluid section4">
            <div class="row p-5 d-flex align-items-center justify-content-center">
                <div class="col">
                    <img src="assets\img\img-s4.svg" alt="Imagem de um computador com uma tela de login e um escudo azul" class="img-fluid">
                </div>

                <div class="col-5 d-flex align-items-center justify-content-center flex-wrap">
                    <p class="fs-4 text text-white mb-0">Tem perguntas? Nós podemos ajudar.</p>
                    <a href="#login" class="btn btn bg-primary btn-lg mt-3 text-white">Contate-nos hoje mesmo
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16">
                            <path id="ic_email_24px" d="M20,4H4A2,2,0,0,0,2.01,6L2,18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V6A2.006,2.006,0,0,0,20,4Zm0,4-8,5L4,8V6l8,5,8-5Z" transform="translate(-2 -4)" fill="#fff" />
                        </svg>
                    </a>
                </div>
                <div class="col">
                    <img src="assets\icons\icones-s4.svg" alt="Imagem de um computador com uma tela de login e um escudo azul" class="img-fluid">
                </div>

            </div>
        </section>
    </div>
</body>

</html>